<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://aframe.io/releases/1.6.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aframe-extras/dist/aframe-extras.min.js"></script>
</head>
<body>
    <div id="app">
        <a-scene background="color: #FAFAFA">
            
             <!-- FONDO -->
    <a-sky src=""></a-sky>



    <script type="module" src="/src/js/sala_paola.js"></script>
        </a-scene>
    </div>
</body>
</html>