<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Sala Alba</title>
  <script src="https://aframe.io/releases/1.4.1/aframe.min.js"></script> -->
  <title>Sala Alba</title>
</head>
<body>
  <!-- <a-scene cursor="rayOrigin: mouse" vr-mode-ui="enabled: true" xrwebgl="enabled: true"> -->

<a-scene> 
    <a-assets>
        <audio id="avatar-sound" src="../public/assets/sala_alba/WhatsApp Ptt 2024-12-11 at 14.04.21.ogg"></audio>

        <img id="grass" src="../assets/sala_luisa/grass.jpg" crossorigin="anonymous" />
        <img id="skyblue" src="../assets/sala_alba/sky_blue.jpg" crossorigin="anonymous" />
        <a-asset-item id="cat" src="../assets/sala_luisa/toon_cat_free/scene.gltf"></a-asset-item>
        <a-asset-item id="flowers" src="../assets/sala_luisa/flowers/scene.gltf"></a-asset-item>
        <a-asset-item id="tree" src="../assets/sala_luisa/stylized_tree/scene.gltf"></a-asset-item>
        <a-assests-item id="people1" src="../assets/sala_alba/low_poly_people_free_sample_pack/scene.gltf"></a-assests-item>
        <img id="diada2" src="../assets/sala_alba/diadaprimavera.jpg">
        <img id="defensa" src="../assets/sala_alba/autodefensafemenina.jpg">
        <img id="karate" src="../assets/sala_alba/karakara.jpg" >
        <img id="estiu" src="../assets/sala_alba/estiufresca.jpg">
        <img id="tallergame" src="../assets/sala_alba/tallergaming.jpg">
        <img id="jobs" src="../assets/sala_alba/integrajobes.png">
        <img id="raval" src="../assets/sala_alba/ravaleando.jpg">
        <a-asset-item  id= "pedestal" src="../public/assets/sala_alba/pedestal/scene.gltf">
    </a-assets>


    <a-entity id="cameraRig" position="0 1.6 0">
        <a-camera wasd-controls="acceleration: 50">
        </a-camera>
      </a-entity>

      <a-entity id="camera-rig" position="0 1.6 0" movement-controls="speed: 0.2">
        <a-entity camera look-controls></a-entity>
        <!-- Controladores VR (Meta Quest) -->
        <a-entity oculus-touch-controls="hand: left"></a-entity>
        <a-entity oculus-touch-controls="hand: right"></a-entity>
    </a-entity>
    
    <a-camera>
        <a-cursor></a-cursor>
    </a-camera>

    <a-sky src="#skyblue"></a-sky>
    
    <a-plane width="80" height="80" position="0.00 0.00 0.00" rotation="-90 0 0"  material="src: #grass; repeat:10 10;" shadow="cast: false; receive: true"></a-plane>

    <a-entity id="camera-rig" position="0 1.6 0" movement-controls="speed: 0.2">

        <a-entity camera look-controls></a-entity>

        <!-- Controladores VR con rayos láser -->
        <a-entity laser-controls="hand: left"  cursor="rayOrigin: mouse"  raycaster="objects: .clickable" visible="false" id="laser-left"> </a-entity>
        <a-entity laser-controls="hand: right"  cursor="rayOrigin: mouse"  raycaster="objects: .clickable" visible="false" id=" laser-right" ></a-entity> </a-entity>


   <!----cajas con las fotos de los proyectos--> 
   <!--diada-->
   <a-box position="12 3 -11" rotation="0 0 0" 
       width="2" height="2" depth="2"
       material="src: #diada2; repeat: 1 1; shader: flat"
       toggle-text="groupId: #text1"
       onclick="mostrarTexto()">
</a-box>

<a-entity id="text1" rotation="0 -45 0" position="13 3 -7" visible="true">
    <a-text value=" 2. Consciència i regulació emocional\n
    La consciència i regulació emocional fa referència a la capacitat d'identificar\n
    comprendre i gestionar les pròpies emocions de manera efectiva. Inclou aspectes com: \n
    .Autoconeixement emocional: Reconèixer com et sents en diferents situacions.\n
    .Autocontrol: Regular les reaccions emocionals per actuar de manera adequada i equilibrada.\n
    .Empatia emocional: Entendre i respectar les emocions dels altres.\n"
           color="#555555" 
           align="center" 
           scale="0.5 0.5 0.5">  
    <!-- contenido del texto -->
</a-entity> 
   



      <!--defesa feminina-->
      <a-box position="-15 3 -15" rotation="0 0 0" 
      width="2" height="2" depth="2"
      material="src: #defensa; repeat: 1 1; shader: flat">
    </a-box>

    <!--karate-->
     <a-box position="-13 3 -1" rotation="0 0 0" 
             width="2" height="2" depth="2"
             material="src: #karate; repeat: 1 1; shader: flat">
      </a-box>

      <!--estiu fresca-->
     <a-box position="-4 3 10" rotation="0 0 0" 
     width="2" height="2" depth="2"
     material="src: #estiu; repeat: 1 1; shader: flat">
    </a-box>

    <!--taller gamming-->
    <a-box position="15 3 7" rotation="0 0 0" 
    width="2" height="2" depth="2"
    material="src: #tallergame; repeat: 1 1; shader: flat">
   </a-box>

   <!--intera jobs-->
   <a-box position="-2 3 -10" rotation="0 0 0" 
   width="2" height="2" depth="2"
   material="src: #jobs ; repeat: 1 1; shader: flat">
  </a-box>

  <!--ravaleando-->
  <a-box position="0.7 3 0.2" rotation="0 0 0" 
  width="2" height="2" depth="2"
  material="src: #raval; repeat: 1 1; shader: flat">
 </a-box>


                                        <!--sillas-->
</a-entity>
    <a-entity gltf-model="../assets/sala_alba/blockbench_park_bench/scene.gltf" position="-0.1001 0.061 18.73664" rotation="0.9998113525032866 2.566850922186088 -2.000195662801704" scale="" id="kursi1"></a-entity>
    <a-entity gltf-model="../assets/sala_alba/blockbench_park_bench/scene.gltf" position="-0.03535 0.16079 -20.01813" rotation="1 180 -2" scale="" id="kursi2"></a-entity>
    <a-entity gltf-model="../assets/sala_alba/blockbench_park_bench/scene.gltf" position="-18.84535 0.3737 -1.03081" rotation="0.9998113525032866 -92.40949798767483 -2.000195662801704" scale="" id="kursi3"></a-entity>
    <a-entity gltf-model="../assets/sala_alba/blockbench_park_bench/scene.gltf" position="17.58743 0.061 -0.37529" rotation="0.9998113525032866 90.49581895193788 -2.000195662801704" scale="" id="kursi4"></a-entity>

                                                 <!--people-->
    <a-entity gltf-model="../public/assets/sala_alba/low_poly_people_free_sample_pack/scene.gltf" position="31.19682 0.061 13.78355" rotation="0.9998113525032866 90.49581895193788 -2.000195662801704" animation-mixer="repeat" id="people1"></a-entity>
    <a-entity gltf-model="../public/assets/sala_alba/low_poly_people_free_sample_pack/scene.gltf" position="-24.86621 0.06975 -14.58227" rotation="1 90.496 -2" animation-mixer="repeat" id="people2"></a-entity>

    <a-entity gltf-model="../public/assets/sala_alba/pedestal/scene.gltf" position="6.86655 0.07 11.88374" rotation="1 90.496 -2" scale="0.2 0.2 0.2" animation-mixer="repeat" id="pedestal"></a-entity>

    <a-entity gltf-model="../public/assets/sala_alba/ImageToStl.com_model+(1)/ImageToStl.com_model (1).glb" position="7.001 3.27509 11.79073" rotation="1 90.496 -2" scale="4.3 6 6" animation-mixer="repeat" id="avatar" sound="src: #avatar-sound; on: click"></a-entity>



    
</a-scene>

    <script type="module" src="../js/sala_luisa.js"></script>
    <script type="module" src="../js/sala_alba.js"></script>

</body>
</html>
