<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a-scene cursor="rayOrigin:mouse">
        <a-assets>
           <img id="fondo" src="../assets/sala_paola/eso0932a.jpg" alt="">
           <img id="banner" src="../assets/sala_paola/banner-welcome.png" alt="">
           <img id="bandera" src="../assets/sala_paola/pngtree-brazil-flag-wall-texture-background-picture-image_1920098.png" alt="">
           <img id="lol" src="../assets/sala_paola/paola-foto.jpg" alt="">
           <img id="inicio" src="../assets/sala_paola/Volver al início.png" alt="">
           <a-asset-item id="claqueta" src="../assets/sala_paola/claqueta.glb"></a-asset-item>
           <a-asset-item id="musica" src="../assets/sala_paola/toca-discos.glb"></a-asset-item>
           <a-asset-item id="pulpo" src="../assets/sala_paola/pulpo.glb"></a-asset-item>
           <a-asset-item id="lola" src="../assets/sala_paola/lola.glb"></a-asset-item>
        </a-assets>

        <a-sky src="#fondo"></a-sky>

        <a-plane color="black" scale="90 90 90" rotation="-90 0 0" position="0 0 0"  ></a-plane>
 

        <a-plane src="#banner" opacity="1" material="transparent: true" scale="20 20 20" position="0 10 -15"></a-plane>

        <a-entity>
            <a-entity gltf-model="#musica" scale="2 2 2" rotation="0 50 0" position="-10 0 -10" animation-mixer="loop: repeat"></a-entity>
            
            <a-box class="interactable" opacity="0" material="transparent: true" scale="2 2.3 2" position="-10 1 -10" rotation="0 50 0" event-set__click="_event: click;"
                link-on-click="https://factoriaf5-santacoloma-frontend-ti.github.io/ding-dom-digital-world/">
         </a-box>
         
        </a-entity>

        <a-entity>
            <a-entity gltf-model="#claqueta" scale="1 1 1" rotation="0 90 0" position="-5 -.8 -7.5" animation-mixer="loop: repeat"></a-entity>

            <a-box class="interactable" opacity="0" material="transparent: true" scale="2.8 2 .5" position="-4.6 1 -9.7" rotation="0 0 0" event-set__click="_event: click;"
                link-on-click="https://factoriaf5-santacoloma-frontend-ti.github.io/movies-piolino2-0/">
            </a-box>
        </a-entity>

        <a-entity>
            <a-entity gltf-model="#pulpo" scale="2 2 2" rotation="0 -30 0" position="2 0 -11" animation-mixer="loop: repeat"></a-entity>

            <a-box class="interactable" opacity="0" material="transparent: true" scale="4 5 3" position="3.3 1 -10" rotation="0 0 0" event-set__click="_event: click;"
                link-on-click="https://factoriaf5-santacoloma-frontend-ti.github.io/bubble-game-los-justicieros/">
            </a-box>

        </a-entity>

            <a-entity>
                <a-entity gltf-model="#lola" scale="7 7 7" position="10 3 -10"></a-entity>
                
                
                <a-box class="interactable" opacity="0" material="transparent: true" position="10 3 -10" rotation="0 0 0" color="#CCCCCC" scale="4 4.5 3" toggle-text="groupId: #text-group120">
                </a-box>
        
                <a-entity  id="text-group120" position="15 4 -8" rotation="0 -50 0" visible="false">
                <a-plane width="13" height="14" color="#D3D3D3" position="0 0 -0.3"></a-plane>
                <a-text value="Soy Paola, una brasileña de 26 años apasionada por la tecnología y el aprendizaje. Actualmente estoy finalizando un bootcamp de front-end, un paso clave en mi transicion hacia una carrera en un campo que me emociona y al que ahora puedo dedicarme.
                A lo largo de mi trayectoria profesional he trabajado en diversos sectores, ahora, en el mundo tecnologico, siento que he encontrado mi lugar, un espacio donde mi curiosidad y entusiasmo por aprender se alinean con mis objetivos.
                Mis valores fundamentales son la justicia, el feminismo y la igualdad. Creo firmemente en construir un mundo mas equitativo y en la importancia de llevar esos principios a mi vida personal y profesional."
                    color="black" align="center" 
                    position="0 1.5 0" scale="2.4 2 2">
                </a-text>
                </a-entity>
            </a-entity>



            <a-plane src="#inicio" class="interactable" opacity="1" material="transparent: true; side: double" scale="3 3 3" position="0 3 3" rotation="0 180 0" event-set__click="_event: click;"
            link-on-click="https://factoriaf5-santacoloma-frontend-ti.github.io/proyecto-final/">
            </a-plane>
   

            <a-entity id="camera-rig" position="0 3 2" movement-controls="speed: 0.5">
                <a-entity camera look-controls></a-entity>
            
                <!-- Controladores VR con rayos láser -->
                <a-entity oculus-touch-controls="hand: left" laser-controls  raycaster="lineColor: white; lineOpacity: 5; far:10, object: .interactable "></a-entity>
                <a-entity oculus-touch-controls="hand: right"></a-entity>
                </a-entity>
        
    </a-scene>

    <script type="module" src="../js/sala_paola.js"></script>
</body>
</html>