<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://aframe.io/releases/1.6.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aframe-extras/dist/aframe-extras.min.js"></script>
</head>
<body>
    <div id="app">
        <a-scene>
            <a-camera look-controls position="-1.717 21 20"></a-camera>

             <!-- FONDO -->
             <a-sky id="fondo" src="../assets/sala_paola/uhd_img3219pv2_cc_eq.jpg"></a-sky>
            

              <!-- <a-entity position="0 1.5 -2">
                <a-text value="Welcome to Lola's world!" color="#FFF" align="center" 
                        animation="property: position; to: 0 2 0; dur: 2000; easing: easeInOutQuad"
                        animation__scale="property: scale; to: 2 2 2; dur: 2000; easing: easeInOutQuad"></a-text>
            </a-entity> -->

            <a-image id="banner-welcome" src="../assets/sala_paola/banner-welcome.png" position="0.5 22 14"  scale="0 0 0" height="12" width="10"
            animation__scale="property: scale; to: 1 1 1; dur: 10000; easing: easeInOutQuad"> </a-image>

            <a-assets>
                <a-asset-item id="petit-prince" src="../assets/sala_paola/le_petit_prince/"></a-asset-item>
                <a-asset-item id ="doby" src="../assets/sala_paola/dobby_the_free_house_elf_-_harry_potter/scene.gltf"></a-asset-item>
                <a-asset-item id="sombrero" src="../assets/sala_paola/sombrero.glb"></a-asset-item>
                <a-asset-item id="bandera-brasil" src="../assets/sala_paola/bandeira_do_brasil/" > </a-asset-item>
                
            </a-assets>
            
            <a-entity
            a-gltf-model="#petit-prince" 
            position="-25 6 14" 
            scale="1 1 1"
        
            ></a-entity>


            <a-entity gltf-model="#sombrero" position="20 22 20" scale="4 4 4" 
            text="value: Lord Bastori le dedico mucho amor a sus obras. Se le olvidaba comer, cuidar su salud y ordenar su habitacion solo por alcanzar la perfeccion...; align: center; color: #FFFFFF; width: 30"
            class="clickable"
            event-set__enter="_event: mouseenter; _target: #ghost-don-text; visible: true"
            event-set__leave="_event: mouseleave; _target: #ghost-don-text; visible: false"
            onclick="document.getElementById('sombrero').setAttribute('visible', 'true');"> 
            </a-entity>

            <a-entity
            id="sombrero"
            text="value: Lord Bastori le dedico mucho amor a sus obras. Se le olvidaba comer, cuidar su salud y ordenar su habitacion solo por alcanzar la perfeccion...; align: center; color: #FFFFFF; width: 30"
            position="64.42059 -234.8655 -168.50724"
            visible="false"
            rotation="-3.12491181464351 -40.87538206242806 1.925711149434697"></a-entity>

            <a-entity src="#descripcion" position="25 22 20"></a-entity>
            
                     
     

            </a-scene>
        </div>
    <script type="module" src="../js/sala_paola.js"></script>
</body>
</html>