<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://aframe.io/releases/1.6.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/c-frame/aframe-extras@7.5.2/dist/aframe-extras.min.js"></script>
    <title>hassan-aframe</title>
  </head>
  
  <body> 
    <a-scene>
      <a-assets>
        <!-- Assets -->
         <audio id="car-sound" src="/src/assets/assets-hassan/sound/lambo-rev-87832.mp3"></audio>
        <a-asset-item id="ged1" src="/src/assets/assets-hassan/gltf/realistic_hd_date_palm_1378.glb"></a-asset-item>
        <a-asset-item id="ged2" src="/src/assets/assets-hassan/gltf/realistic_hd_date_palm_1378.glb"></a-asset-item>
        <a-asset-item id="ged3" src="/src/assets/assets-hassan/gltf/realistic_hd_date_palm_1378.glb"></a-asset-item>
        <a-asset-item id="ged4" src="/src/assets/assets-hassan/gltf/realistic_hd_date_palm_1378.glb"></a-asset-item>
      </a-assets>
      <a-plane position="-7.37651 5.87289 17.57364" rotation="-89.99963750135457 1.2461832044095404 0" width="10" height="27" color="white" side="double" id="saqaf"></a-plane>

      <!-- Background -->
      <a-sky src="/src/assets/assets-hassan/photos/6.jpg" rotation="" position=""></a-sky>
     
      <!-- Ground Plane -->
      <a-plane  src="/src/assets/assets-hassan/photos/images.jpeg"  rotation="-90 0 0"  width="50"  height="20"  position="0 -3 -16"> </a-plane>
    
      <!-- Image -->
      <a-image src="/src/assets/assets-hassan/photos/IMG_20200627_224120_445_Original.jpg" position="-7.65915 1.10124 20.0299" rotation="0 0.29 0" width="2.5" height="2" id="sawir-darbi"></a-image>
      
      <a-image src="/src/assets/assets-hassan/photos/familia-viendo-smart-TV (1).jpg" position="0.48949 1.5034 9.22202" rotation="0 0.29 0" width="2.5" height="2" id="tv"></a-image>
      
      <!-- 3D Models -->
      <a-entity gltf-model="#ged1" position="24 -8 -18" rotation="1 180 -2" scale="1 1 1"></a-entity>  
      <a-entity gltf-model="#ged2" position="-24 -7 -18" rotation="1 180 -2" scale="1 1 1"></a-entity>
      <a-entity gltf-model="#ged3" position="-15 -7 -18" rotation="1 180 -2" scale="1 1 1"></a-entity> 
      <a-entity gltf-model="#ged4" position="13 -7 -18" rotation="1 180 -2" scale="1 1 1"></a-entity> 
      <a-entity gltf-model="/src/assets/assets-hassan/gltf/realistic_hd_date_palm_2878.glb" position="23.36917 -2.93767 -8.51958" rotation="1 180 -2" scale="" id="timiir"></a-entity>
      
  
     
      <a-entity gltf-model="/src/assets/assets-hassan/gltf/lamborghini_centenario_lp-770_baby_blue_sdc.glb"  position="8.18762 -3.03698 -12.4531"  rotation="2.12 179.64 -1.65"  animation-mixer="repeat" sound="src: #car-sound; on: click" > </a-entity>

      <a-entity  gltf-model="/src/assets/assets-hassan/gltf/ImageToStl.com_model.glb"  position="7.77905 -2.19622 -12.39519"  rotation="0 -180 10"  width="2.5"  height="3"></a-entity>

      <a-entity  gltf-model="/src/assets/assets-hassan/gltf/white_modern_mansion.glb"  position="23.09545 -3.32958 24.09823"  rotation="-1.74 0.79 0.30"> </a-entity>
   </a-scene>

    <!-- Custom Script -->
    <script src="index.js"></script>
  </body>
  
</html>

<a-entity position="0 0 7" >
  <a-camera>
    <a-cursor></a-cursor>
  </a-camera>