<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sala_jorge's House</title>
  
  
</head>
<body>
  <a-scene>
    <!-- Assets -->
    <a-assets>
      <!-- Modelos -->
      <a-asset-item id="mansion" src="../assets/sala_jorge/spookymansion.glb"></a-asset-item>
      <a-asset-item id="book-stand" src="../assets/sala_jorge/stylized_magic_book_stand.glb"></a-asset-item>
      <a-asset-item id="ghost-tophat" src="../assets/sala_jorge/ghost_w_tophat.glb"></a-asset-item>
      <a-asset-item id="enchanted" src="../assets/sala_jorge/the_enchanted.glb"></a-asset-item>
      <a-asset-item id="cat" src="../assets/sala_jorge/cute_spooky_cat.glb"></a-asset-item>
      <a-asset-item id="ghost-boy" src="../assets/sala_jorge/ghost_boy.glb"></a-asset-item>
      <a-asset-item id="picture" src="../assets/sala_jorge/picture.glb"></a-asset-item>
      <a-asset-item id="libreria" src="../assets/sala_jorge/libreria.glb"></a-asset-item>
      <a-asset-item id="ghost-don" src="../assets/sala_jorge/ghost_don.glb"></a-asset-item>
      <a-asset-item id="cute-ghost" src="../assets/sala_jorge/a_cute_ghost.glb"></a-asset-item>
      <a-asset-item id="leftHandModel" src="../assets/sala_jorge/leftHandLow.glb"></a-asset-item>
  <a-asset-item id="rightHandModel" src="../assets/sala_jorge/rightHandLow.glb"></a-asset-item>

       <!-- Imágenes -->
       <img id="slashermovies" src="../assets/sala_jorge/slashermovies.png" crossorigin="anonymous">
       <img id="dindom" src="../assets/sala_jorge/dindom.png" alt="Dindom Image">
       <img id="bubbles" src="../assets/sala_jorge/bubbles.png" alt="Bubbles Image">

    
    </a-assets>
    <a-camera position="50 -1 2" wasd-controls-enabled="true">
    <a-cursor raycaster="objects: .clickable"></a-cursor>
    </a-camera>
    <a-entity id="leftHand" gltf-model="#leftHandModel" hand-controls="hand: left; handModelStyle: lowPoly; color: #ffcccc"></a-entity>
<a-entity id="rightHand" gltf-model="#rightHandModel" hand-controls="hand: right; handModelStyle: lowPoly; color: #ffcccc"></a-entity>
      <!-- Cielo -->
      <img id="sky" src="../assets/sala_jorge/redsky.jpg">
      
      <!-- Música -->
      <a-entity 
  sound="src: url(../assets/sala_jorge/themeoutside.mp3); autoplay: true; loop: true; volume: 50">

  
</a-entity>
    </a-assets>

    <a-entity id="leftHand" hand-controls="hand: left; handModelStyle: lowPoly; color: #ffcccc"></a-entity>
<a-entity id="rightHand" hand-controls="hand: right; handModelStyle: lowPoly; color: #ffcccc"></a-entity>


    <!-- Cámara -->
    <a-camera universal-controls="movementEnabled: true" position="60 0 100" wasd-controls="acceleration: 190">
        <a-cursor raycaster="objects: .clickable" fuse="true" fuse-timeout="1500"
        material="color: white; shader: flat; opacity: 0.75">
      </a-cursor>
      <!-- Añadir cursor -->
      <a-cursor raycaster="objects: .clickable" fuse="true" fuse-timeout="1500"
        material="color: white; shader: flat; opacity: 0.75">
      </a-cursor>
    </a-camera>

    <!-- MANSION -->
    <a-entity 
      gltf-model="#mansion"
      position="0 33.74742 -200"
      scale="0.3 0.3 0.3">
    </a-entity>

    <a-entity 
      sound="src: #background-music; autoplay: true; loop: true; volume: 1">
    </a-entity>
    

    <!-- Luces -->
    <a-light type="directional" color="#FF0000" intensity="2" position="0 -100 0" target="#scene-center"></a-light>
    <a-light type="ambient" color="#e8ccff" intensity="0.5"></a-light>

    <!-- Marcador del centro de la escena -->
    <a-entity id="scene-center" position="0 400 -200"></a-entity>

    <!-- ESTANTERIA-->
    <a-entity 
      gltf-model="#book-stand"
      animation-mixer
      position="110 -14.88605 20"
      scale="10 10 10"
      rotation="0 70 0">
    </a-entity>

   <!-- Fantasma con sombrero -->
   <a-entity 
   id="ghost-tophat"
   gltf-model="#ghost-tophat"
   class="clickable"
   animation-mixer
   position="120 -2.98681 25"
   scale="5 5 5"
   rotation="0 -90 0"
   animation="property: position; dir: alternate; dur: 2000; loop: true; to: 120 0 25"
   class="clickable"
  event-set__enter="_event: mouseenter; _target: #tophat-text; visible: true"
  event-set__leave="_event: mouseleave; _target: #tophat-text; visible: false"
  event-set__enter="_event: raycaster-intersected; _target: #tophat-response; visible: true"
  event-set__leave="_event: raycaster-intersected-cleared; _target: #tophat-response; visible: false"
  onclick="document.getElementById('tophat-response').setAttribute('visible', 'true');">
  

 </a-entity>

 <!-- Texto dinámico -->
 <a-entity
   id="tophat-response"
   text="value: Vaya! Otra alma en pena, parece que estas en la lista de invitados de esta noche. Por favor, pasa. ; align: center; color: #FFFFFF; width: 40"
   position="120 19.61249 25" 
   visible="false"
   rotation="0 -90 0"></a-entity> <!-- Inicialmente oculto -->
   
 </a-entity>

    <!-- ÁRBOL -->
    <a-entity 
      gltf-model="#enchanted"
      animation-mixer="clip: *"
      position="-150 -45.21382 -1"
      scale="50 50 50"
      rotation="0 100 0">
    </a-entity>

<!-- GATO -->
<a-entity 
  id="cat" 
  gltf-model="#cat"
  animation-mixer="clip: *"
  position="-120.45 -3 50" 
  scale="40 40 40"
  rotation="0 -80 0"
  animation="property: position; dir: alternate; dur: 4000; loop: true; to: -120 -15 50"
  onclick="document.getElementById('cat-response').setAttribute('visible', 'true');">
</a-entity>

<!-- Texto -->
<a-text
  id="cat-response"
  value="Un hombre sin propósito se pierde en distracciones! digo MIAU, MIAU!!!"
  align="center"
  color="#FFFFFF"
  width="40"
  anchor="center"
  position="-75.95252 -220.19462 7.29031"
  rotation="-5.688324990058812 90.03000426449651 -0.002864788975654116"
  visible="false"> <!-- Inicialmente oculto -->
</a-text>

   <!-- GHOST -->
<a-entity 
id="ghost-boy"
gltf-model="#ghost-boy"
animation-mixer="clip: *"
position="50 -9.74 -90"
scale="5 5 5"
rotation="0 -1 0"
class="clickable"
event-set__enter="_event: mouseenter; _target: #ghost-text; visible: true"
event-set__leave="_event: mouseleave; _target: #ghost-text; visible: false"
onclick="document.getElementById('ghost-response').setAttribute('visible', 'true');"
event-set__enter="_event: raycaster-intersected; _target: #ghost-response; visible: true"
  event-set__leave="_event: raycaster-intersected-cleared; _target: #ghost-response; visible: false">
</a-entity>
<!-- TEXTO DEL GHOST-->
<a-entity
id="ghost-response"
text="value: Por fin, te he estado esperando! Este bootcamp a matado mi existencia, pero mis proyectos siguen en vigencia! echales un vistazo!; align: center; color: #FFFFFF; width: 50"
position="50.02 8.18 -90" 
visible="false"
rotation="0 -1 0"></a-entity>
 

<!-- CUADRO 1-->
<a-entity 
  gltf-model="#picture"
  position="22.425 14.67829 -159.268" scale="13 3.80905 10.26215" rotation="0.505 1.693 0.357">
</a-entity>

<!-- CUADRO 2 central -->
<a-entity 
  gltf-model="#picture"
  position="22.01821 15.13885 -180.40996" scale="15.01 4.56 10.985" rotation="0.505 1.693 0.357">
</a-entity>

<!-- CUADRO 3 -->
<a-entity 
  gltf-model="#picture"
  position="22.21145 3.05965 -169.86067" scale="13 4.40541 10.44062" rotation="0.505 1.693 0.357">
</a-entity>

<!-- Modelo de la librería -->
<a-entity 
  gltf-model="#libreria"
  position="52.48596 -10.52 -181.10516" scale="0.03 0.04 0.042" rotation="-0.26 -88.797 0.076">
</a-entity>
<!-- Modelo de ghost_don -->
<a-entity 
  gltf-model="#ghost-don"
  position="65.59099 3 -171.02962"  
  scale="1 1 1"
  rotation="-1.4661989977397767 -38.91815823426117 2.9759427879094957" 
  animation="property: position; to: 65.59099 0 -171.02962; dir: alternate; dur: 3000; loop: true" 
  class="clickable"
  event-set__enter="_event: mouseenter; _target: #ghost-don-text; visible: true"
  event-set__leave="_event: mouseleave; _target: #ghost-don-text; visible: false"
  onclick="document.getElementById('ghost-don-response').setAttribute('visible', 'true');"
  event-set__enter="_event: raycaster-intersected; _target: #ghost-don-response; visible: true"
  event-set__leave="_event: raycaster-intersected-cleared; _target: #ghost-don-response; visible: false"
  onclick="document.getElementById('ghost-don-response').setAttribute('visible', 'true');">
</a-entity>

<!-- Texto para ghost_don -->
<a-entity
  id="ghost-don-response"
  text="value: Lord Bastori le dedico mucho amor a sus obras. Se le olvidaba comer, cuidar su salud y ordenar su habitacion solo por alcanzar la perfeccion...; align: center; color: #FFFFFF; width: 30"
  position="65.591 17.74 -171.03" 
  visible="false"
  rotation="-3.12491181464351 -42.869275189483325 1.9262841072298276"></a-entity>

<!-- PROYECTOS  -->
<!-- Imagen de Slashermovies como plano -->
<a-entity 
      id="plane-slashermovies"
      geometry="primitive: plane; width: 1.5; height: 1" 
      material="src: #slashermovies; transparent: true" 
      position="22.50693 14.58608 -159.29297" 
      rotation="0 93.147 0" 
      scale="7.74908 5.50886 1.37839">
    </a-entity>

<!-- Imagen de Dindom como plano -->
<a-entity 
id="plane-dindom"
geometry="primitive: plane; width: 1.5; height: 1" 
material="src: #dindom; transparent: true" 
position="22.213 14.9812 -180.408" rotation="0 92.143072612939 0" scale="8.40839 7.42806 1.53038">

</a-entity>

<!-- Imagen de bubbles como plano -->
<a-entity 
id="plane-bubbles"
geometry="primitive: plane; width: 1.5; height: 1" 
material="src: #bubbles; transparent: true" 
position="22.22524 3.04802 -169.87554" scale="8.14487 6.25159 8.44171" rotation="0.5047758175102552 92.84379999638399 0.3569527063665029">

</a-entity>

<!-- CUTE GHOST-->
<a-entity 
  id="cute-ghost"
  gltf-model="#cute-ghost"
  position="140.70749 -16.627 -71.0435" 
  scale="6 6 6"
  rotation="0 -50.054738898218986 0"
  animation="property: position; dir: alternate; dur: 5000; loop: true; to: 140.70749 -10.627 -71.0435" 
  class="clickable"
  onclick="document.getElementById('cute-ghost-text').setAttribute('visible', 'true');"
  event-set__enter="_event: raycaster-intersected; _target: #cute-ghost-text; visible: true"
  event-set__leave="_event: raycaster-intersected-cleared; _target: #cute-ghost-text; visible: false">
</a-entity>

<!-- Texto para el nuevo fantasma -->
<a-entity
 id="cute-ghost-text"
 text="value: Eh? Y yo que hago aca? Lo ultimo que recuerdo es haber caminado la subidita para llegar al Espai de les oportunitats, pues vaya oportunidad de morir, no?; align: center; color: #FFFFFF; width: 50"
 position="140.70749 15 -71.0435" 
 visible="false"
 rotation="0 -50.054738898218986 0"></a-entity>
    <!-- Cielo -->
    <a-sky src="#sky" scale="6 6 6"></a-sky>

  </a-scene>
  
  <script type="module" src="../js/sala_jorge.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/c-frame/aframe-extras@6.1.1/dist/aframe-extras.min.js"></script>

</body>
</html>
